{% extends 'base.html.twig' %}

{% form_theme form 'partials/_profileChoice.html.twig' %}

{# use macro to customize the render of the form #}
{% import 'macros/formRender.html.twig' as fieldRender %}

{% block title %}{{ 'profile.block_title'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/profile') }}
    {{ encore_entry_link_tags('css/datepicker/datepicker') }}
    <style>
       
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center pt-2">
            <div class="card card-profile">
                <div class="card-header card-profile-header-avatar">
                    <img src={% if user.avatar is empty %}"{{ asset('img/library/defaultAvatar.png') }}"{% else %} "{{ user.avatar }}" {% endif %}
                    class="avatar" alt="Avatar de {{ user.pseudo }}">
                </div>
            </div>
        </div>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="d-flex justify-content-center pt-2">
                <div class="card card-profile mt-2">
                    <div class="card-header text-left" style="font-size: 1rem"><i class="far fa-address-card"></i>  {{ 'profile.title.general_infos'|trans }}</div>
                    <div class="card-body text-left">
                        {{ form_widget(form.gender) }}
                        {{ form_widget(form.situation) }}
                        {{ fieldRender.formFieldRender('pseudo', form.pseudo) }}
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                        {{ fieldRender.formFieldRender('email', form.email) }}
                        {{ fieldRender.formDateRender('birthDate', form.birthDate) }}
                        {{ form_row(form.profession) }}
                        {{ form_row(form.company) }}
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center pt-2">
                <div class="card mt-2 card-profile">
                    <div class="card-header text-left"><i class="fas fa-user-edit"></i>  {{ 'profile.title.description'|trans }}</div>
                    <div class="card-body text-left">
                        {{ form_widget(form.description)}}
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center pt-2">
                <div class="card mt-2 card-profile">
                    <div class="card-header text-left"><i class="fab fa-wpexplorer"></i>  {{ 'profile.title.interests'|trans }}</div>
                    <div class="card-body text-left">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center pt-2">
                <button type="submit" class="btn btn-profile-update btn-sm mr-2"><i class="far fa-edit"></i>  Modifier</button>
                <button type="button" class="btn btn-profile-delete btn-sm"><i class="fas fa-trash-alt"></i>  Suprimer mon compte</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/datepicker/datepicker') }}
    {% if app.request.locale == 'fr' %}
        {{ encore_entry_script_tags('js/datepicker/datepicker-fr') }}
    {% endif %}
    {# management of datepicker options #}
    {% include 'partials/_datepickerManagement.html.twig' %}
{% endblock %}