{% extends 'base.html.twig' %}

{% block title %}{{ 'profile.block_title'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/profile') }}
    <style>
       
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center pt-2">
            <div class="card card-profile">
                <div class="card-header card-profile-header-avatar">
                    <img src="{{ user.avatar }}" class="avatar" alt="Avatar de {{ user.pseudo }}">
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center pt-2">
            <div class="card card-profile mt-2">
                <div class="card-header text-left"><i class="far fa-address-card"></i>  Informations Générales</div>
                <div class="card-body">
                    toto
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}