{% extends 'base.html.twig' %}

{% block title %}{{ 'profile.block_title'|trans|raw }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/profile') }}
    {{ encore_entry_link_tags('css/datepicker/datepicker') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center pt-2">
            <div class="card card-profile">
                <div class="card-header card-profile-header-avatar">
                    <div class="row">
                        <div class="col-4 text-right my-auto">
                            <img src=
                                {% if profile.avatar is empty %}
                                    "{{ asset('img/library/defaultAvatar.png') }}"
                                {% elseif profile.avatar starts with 'https:' %}
                                    "{{ profile.avatar }}"
                                {% else %}
                                    "{{ asset('uploads/avatars/' ~ profile.avatar) }}"
                                {% endif %}
                            class="avatar avatar-media" id="imgAvatarProfile" alt="{{ 'alt.avatar'|trans|raw }} {{ profile.pseudo }}" >
                        </div>
                        <div class="col text-left my-auto header-profile">
                            <p div class="mb-3"><strong>{{ profile.pseudo }}</strong></p>
                            {% if profile.firstName is not empty %}
                                <p class="mb-1">{{ profile.firstName }}  {{ profile.lastName }}</p>
                            {% endif %}
                            {% if profile.profession is not empty %}
                                <p class="mb-1">{{ profile.profession }}
                                    {% if profile.company is not empty %} {{ 'generic.at'|trans|raw }} {{ profile.company }} {% endif %}
                                </p>
                            {% endif %}
                            <p class="col-text-profile">Grenoble, France</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="my-3 pt-2 pb-1 bg-white rounded shadow-sm">
            <div class="text-center mb-4 mt-4">
                <a class="btn btn-profile-dark-blue btn-sm mr-3 shadow-none" href="#" role="button"><i class="fas fa-user-plus"></i> Se connecter</a>
                <a class="btn btn-profile-grey btn-sm shadow-none" href="#" role="button"><i class="fas fa-envelope"></i> Envoyer un message</a>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="card mt-2 card-profile">
                <div class="card-header text-left"><i class="fas fa-user-edit"></i>  Description</div>
                <div class="card-body text-left">
                    {% if profile.description|length > 0 %}
                        <div class="label-profile">{{ profile.description|raw }}</div>
                    {% else %}
                        <p class="label-profile">Pas de description</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if profile.interests|length > 0 %}
            <div class="d-flex justify-content-center pt-2">
                <div class="card mt-2 card-profile">
                    <div class="card-header text-left"><i class="fab fa-wpexplorer"></i>  {{ 'profile.title.interests'|trans|raw }}</div>
                    <div class="card-body text-left">
                        {# display interests order by type and with the icon which match with interest type #}
                        {% set cpt = 1 %}
                        {% set iId = 0 %}
                        {% for interest in profile.interests|sort((a,b) => a.interestType.id <=> b.interestType.id) %}
                            {% if cpt == 1 %}
                                {% set iId = interest.interestType.id %}
                            {% endif %}
                            {% if cpt > 1 and interest.interestType.id != iId %}
                                <div class="mb-4"></div>
                                {% set iId = interest.interestType.id %}
                            {% endif %}
                            {% set icon = "fas fa-tag" %}
                            {% for intType in interestsType %}
                                {% if intType.id == iId %}
                                    {% set icon = intType.iconType %}
                                {% endif %}
                            {% endfor %}
                            <span class="badge badge-happyDarkBlue badge-profile mb-1"><i class="{{ icon }}"></i> {{ interest.name|trans|raw }}</span>
                            {% set cpt = cpt +1 %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="d-flex justify-content-center pt-2">
            <div class="card mt-2 card-profile">
                <div class="card-header text-left"><i class="fas fa-pen-fancy"></i>  {{ 'profile.title.articles'|trans|raw }}</div>
                <div class="card-body text-left">
                    <div class="my-3 p-3 bg-white rounded shadow-sm">
                        <p class="border-bottom border-gray pb-2 mb-0">L'intelligence artificielle au coeur de l'industrie
                        <small class="float-right mt-1 pb-2">11/06/2020</small></p>
                        <div class="media text-muted pt-3">
                          <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">@username</strong>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                          </p>
                        </div>
                    </div>
                    <div class="my-3 p-3 bg-white rounded shadow-sm">
                        <p class="border-bottom border-gray pb-2 mb-0">L'intelligence artificielle au coeur de l'industrie
                        <small class="float-right mt-1 pb-2">11/06/2020</small></p>
                        <div class="media text-muted pt-3">
                          <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">@username</strong>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                          </p>
                        </div>
                    </div>
                    <div class="my-3 p-3 bg-white rounded shadow-sm">
                        <p class="border-bottom border-gray pb-2 mb-0">L'intelligence artificielle au coeur de l'industrie
                        <small class="float-right mt-1 pb-2">11/06/2020</small></p>
                        <div class="media text-muted pt-3">
                          <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">@username</strong>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                          </p>
                        </div>
                    </div>
                    <small class="d-block text-right mt-3">
                        <a href="#">All Articles</a>
                    </small>
                </div>
            </div>
        </div>
        

        

    </div>
   
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/datepicker/datepicker') }}
    {% if app.request.locale == 'fr' %}
        {{ encore_entry_script_tags('js/datepicker/datepicker-fr') }}
    {% endif %}
    {# management of datepicker options #}
    {% include 'partials/_datepickerManagement.html.twig' %}
{% endblock %}

