{% extends 'base.html.twig' %}

{% block title %}{{ 'messaging.block_title'|trans|raw }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/messaging') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {# diplay conversation list #}
            <div class="col-12 col-lg-4 col-md-6" >
                <div class="mt-2 mb-4">
                    <form class="form-inline" action="#" method="POST"> 
                        <div class="input-group mr-sm-2 input-search">
                            <input type="search" class="form-control form-control-sm" id="formSearchMessaging" name="formSearchMessaging" placeholder="Search in messaging...">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary btn-sm btn-search shadow-none" type="submit" id="btnFormSearchMessaging"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="conversation-list">
                    {% for conversation in list_conversations %}
                        <div class="media position-relative" id="media_{{ conversation.u_id }}">
                            <img src="{{ conversation.u_avatar }}"
                            class="avatar avatar-media mr-3 my-auto" alt="avatar" id="picture_{{ conversation.u_id }}">
                            <div class="media-body">
                                <p class="p-text-pseudo mt-0" id="pseudo_{{ conversation.u_id }}">{{ conversation.u_pseudo }}</p>
                                <p class="{% if conversation.m_sender_id != app.user.id and not conversation.m_isReaded %}p-msg-unread{% else %}p-msg-read{% endif %}">
                                    {% if conversation.m_sender_id == app.user.id %}Vous : {% endif %}
                                    {{ conversation.m_message|striptags|trim|slice(0, 15) }}...
                                    {% if conversation.m_sender_id != app.user.id and not conversation.m_isReaded %}
                                        <span class="bullet"> &bull;</span>
                                        <i class="fas fa-envelope"></i>
                                    {% endif %}
                                </p>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-lg-8 col-md-6">
                <div class="card mt-2 mb-3">
                    <div class="card-header">
                        <img src="#" id="picture" class="avatar avatar-media mr-3 my-auto" alt="avatar" >
                        <span id='pseudo'>Pseudo</span>
                        <div class="btn-group float-right my-auto" id="BG_">
                            <button class="btn btn-light btn-sm dropdown-toggle dropdown-action shadow-none" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                &bull;&bull;&bull;
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item dropdown-item-action" id="SU" data-token="{{ csrf_token('tok') }}"
                                    href="#">Supprimer la conversation
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="discussion" id="discussion">
                    {% for i in 0..10 %}
                        <div class="card card-transmitter mb-3 ml-auto mr-2">
                            <div class="card-body">
                                <p class="text-right">25 juin &bull; 12:02</p>
                                <hr>  
                                <p>Fusce in libero sed nunc cursus dapibus a a tortor.
                                    Etiam tincidunt, elit non congue porttitor, diam nibh pretium ex, in blandit eros quam quis ligula.
                                    Cras sit amet auctor arcu. Suspendisse blandit orci eget risus gravida, a euismod lacus scelerisque.
                                    Etiam luctus efficitur molestie
                                </p>
                            </div>
                        </div>
                        <div class="card card-receiver mb-3 mr-auto">
                            <div class="card-body pb-1">
                                <p class="text-right">12 juillet &bull; 15:03</p>
                                <hr style="border-color:  white;">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum vitae ligula a semper.
                                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                    Vestibulum vel aliquet mauris, a lobortis ipsum. Maecenas finibus dignissim lacus, eget feugiat leo ullamcorper vel. Sed sem elit, sollicitudin vel commodo non, bibendum eu mi.
                                    Sed malesuada luctus mauris. Sed sed nunc est. Proin semper enim ac feugiat posuere.
                                </p>
                                <hr class="mb-1" style="border-color:white;">
                                <p class="mt-1 mb-0 text-right"><i class="{{ random(["fas fa-check", "far fa-envelope"]) }}" style="font-size: 0.8rem; color:#c9ead9;"></i></p>
                            </div>
                       </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <textarea class="form-control form-control-sm shadow-none p-1 mt-1" rows=2 id="newMessage" placeholder="Saisissez un message"
                    style="resize: none"></textarea>
                    <div class="float-right mt-1">
                        <button class="btn btn-happyGrey btn-sm shadow-none" type="button">
                            <i class="far fa-paper-plane"></i> {{ 'generic.send'|trans|raw }}
                        </button>
                        <button class="btn btn-happyGrey btn-sm shadow-none" type="button" id="btn-erase">
                            <i class="fas fa-eraser"></i> {{ 'generic.erase'|trans|raw }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>  
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        // load the picture and pseudo of the firt profile of list in header of discussion
        $(document).ready( () => {
            changeHeaderDiscussion(document.querySelector('.media').getAttribute('id'))
        })
        document.querySelectorAll('.media').forEach(action =>
            action.addEventListener('click', (e) => {
                e.preventDefault()
                changeHeaderDiscussion(action.getAttribute('id'))
                //$('discussion').load(document.URL +  ' discussion') // reload div discussion à tester
            })
        )

        // erase the content of the textarea which contains new message
        document.getElementById('btn-erase').addEventListener('click', (e) => {
            e.preventDefault()
            document.getElementById('newMessage').value = ''
        })

        /*
            Change picture and pseudo of header of discussion when
            - page is loaded
            - on click on profile in conversation list
        */
        function changeHeaderDiscussion(mediaId) {
            userId = mediaId.substring(mediaId.indexOf('_', 1) + 1, mediaId.length)
            document.getElementById('picture').setAttribute('src', document.getElementById('picture_' + userId).getAttribute('src'))
            document.getElementById('pseudo').innerHTML =  document.getElementById('pseudo_' + userId).innerHTML
            document.getElementById('discussion').scrollTop = document.getElementById('discussion').scrollHeight
        }
    </script>
{% endblock %}
