{% extends 'base.html.twig' %}

{% block title %}{{ 'messaging.block_title'|trans|raw }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/messaging') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {# diplay conversation list #}
            <div class="col-12 col-lg-4 col-md-6" >
                <div class="mt-2 mb-4">
                    <form class="form-inline" action="#" method="POST"> 
                        <div class="input-group mr-sm-2 input-search">
                            <input type="search" class="form-control form-control-sm" id="formSearchMessaging" name="formSearchMessaging" placeholder="Search in messaging...">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary btn-sm btn-search shadow-none" type="submit" id="btnFormSearchMessaging"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="conversation-list">
                    {% for conversation in list_conversations %}
                        <div class="media position-relative" id="media_{{ conversation.u_id }}">
                            <img src="{{ conversation.u_avatar }}"
                            class="avatar avatar-media mr-3 my-auto" alt="avatar" id="picture_{{ conversation.u_id }}">
                            <div class="media-body">
                                <p class="p-text-pseudo mt-0" id="pseudo_{{ conversation.u_id }}">{{ conversation.u_pseudo }}</p>
                                <p class="{% if conversation.m_sender_id != app.user.id and not conversation.m_isReaded %}p-msg-unread{% else %}p-msg-read{% endif %}">
                                    {% if conversation.m_sender_id == app.user.id %}Vous : {% endif %}
                                    {{ conversation.m_message|striptags|trim|slice(0, 15)|raw }}...
                                    {% if conversation.m_sender_id != app.user.id and not conversation.m_isReaded %}
                                        <span class="bullet"> &bull;</span>
                                        <i class="fas fa-envelope"></i>
                                    {% endif %}
                                </p>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-lg-8 col-md-6">
                <div class="card mt-2 mb-3">
                    <div class="card-header">
                        <img src="#" id="picture" class="avatar avatar-media mr-3 my-auto" alt="avatar" >
                        <span id='pseudo'>Pseudo</span>
                        <div class="btn-group float-right my-auto" id="BG_">
                            <button class="btn btn-light btn-sm dropdown-toggle dropdown-action shadow-none" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                &bull;&bull;&bull;
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item dropdown-item-action" id="SU" data-token="{{ csrf_token('tok') }}"
                                    href="#">Supprimer la conversation
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="discussion" id="discussion" data-discussions = "{{ discussions|json_encode }}">
                    {# discussion feed handled by javascript #}
                </div>
                <div class="form-group">
                    <textarea class="form-control form-control-sm shadow-none p-1 mt-1" rows=2 id="newMessage" placeholder="Saisissez un message"
                    style="resize: none" data-token="{{ csrf_token('tok' ~ app.user.id) }}"></textarea>
                    <div class="float-right mt-1">
                        <button class="btn btn-happyGrey btn-sm shadow-none" type="button" id="btn-erase">
                            <i class="fas fa-eraser"></i> {{ 'generic.erase'|trans|raw }}
                        </button>
                        <button class="btn btn-happyGrey btn-sm shadow-none" type="button" id="btn-send" href="{{ path('store_message') }}">
                            <i class="far fa-paper-plane"></i> {{ 'generic.send'|trans|raw }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="datapage" data-userid = "{{ app.user.id }}" data-locale = "{{ app.request.locale }}">
    {# template to write a new message #}
    <div class="card card-sender mb-3" id="newMsg" style="display:none">
        <div class="card-body pb-1">
            <p class="text-right"></p>
            <hr>
            <p>ksksksk</p>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/messaging') }}
    <script>
        // handle a new message
        document.getElementById('btn-send').addEventListener('click', (e) => {
            e.preventDefault()
            let newMessage = document.getElementById('newMessage').value
            // clNewMessage = $('#newMsg').clone()
            clNewMessage = document.getElementById("newMsg").cloneNode(true);
            clNewMessage.style.display='block'
            let mdate = new Date()
            bb = mdate.getDate() + '/' + (mdate.getMonth() + 1)  + '/' + mdate.getFullYear() + ' ' + mdate.getHours + ':' + mdate.getMinutes
            clNewMessage.childNodes[1].childNodes[1].innerHTML="{{ '08/08/2020 12:21:23'|format_datetime('full', 'short', locale = app.request.locale) }}"
            document.getElementById('discussion').appendChild(clNewMessage)
            //clNewMessage.appendTo(".discussion")
            console.log('oooo' + bb + 'ldkkdkdk')
            document.getElementById('newMessage').value = ''
        })


        function sendJsonRequest (href, theToken, newMessage, receiver) {
            return fetch(href, {
              method: 'POST',
              headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ '_token': theToken, 'message': newMessage, 'receiver': receiver })
            })
              .then(response => response.json())
              .then(data => { return data })
        }
        
    </script>

    {% endblock %}
