{% if paginator|length >0 %}
    <div class="d-flex justify-content-center pt-2">
        <div class="card">
            <div class="card-body">
                {% for result in paginator %}
                    {# Set variables #}
                    {% set flag_requester = false %}
                    {% set flag_requested = false %}
                    {% set flag_connected = false %}
                    {# ---- #}  
                    <div class="row mb-3 mt-3">
                        <div class="col-7 col-md-8">
                            <div class="media position-relative">
                                <img src=
                                    {% if result.avatar is empty %}
                                        "{{ asset('img/library/defaultAvatar.png') }}"
                                    {% elseif result.avatar starts with 'https:' %}
                                        "{{ result.avatar }}"
                                    {% else %}
                                        "{{ asset('/uploads/avatars/' ~ result.avatar) }}"
                                    {% endif %}
                                class="avatar avatar-media mr-3 my-auto" alt="{{ 'alt.avatar'|trans|raw }} {{ result.pseudo }}">
                                <div class="media-body">
                                    <p class="col-text-pseudo mt-0">{{result.pseudo }}
                                        {# Badge Management #}
                                        {% if result.id == user_id %}
                                            {{ _self.badge(result.id, 'inline', 'generic.you'|trans|raw) }}
                                        {% else %}
                                            {# verify if user is a requester to be new friend #}
                                            {% if new_requester is defined %}
                                                {% for requester in new_requester %}
                                                    {% if requester.u_id == result.id %}
                                                        {{ _self.badge(result.id, 'inline', 'requested.you'|trans|raw) }}
                                                        {% set flag_requester = true %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            {# verify if user has been resquested to be new friend #}
                                            {% if not flag_requester and new_requested is defined %}
                                                {% for requested in new_requested %}
                                                    {% if requested.u_id == result.id %}
                                                        {{ _self.badge(result.id, 'inline', 'connection.requested'|trans|raw ) }}
                                                        {% set flag_requested = true %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            {% if not flag_requester and not flag_requested %}
                                                {{ _self.badge(result.id, 'none', '') }}
                                            {% endif %}
                                        {% endif %}
                                        {# End Badge management #}
                                    </p>
                                    {% if result.firstName is not empty %}
                                        <p class="col-text-profile">{{ result.firstName }}  {{ result.lastName }}</p>
                                    {% endif %}
                                    {% if result.profession is not empty %}
                                        <p class="col-text-profile">{{ result.profession }}
                                            {% if result.company is not empty %} {{ 'generic.at'|trans|raw }} {{ result.company }} {% endif %}
                                        </p>
                                    {% endif %}
                                    <p class="col-text-profile">Grenoble, France</p>
                                    <a href="{{ path('show_profile', {'slug':result.slug}) }}" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        {# Management of button #}
                        {% if list == 'F' %} {# if show friends #}
                            {{ _self.btn_action(result.id, 'inline', 'ME', '#', 'generic.message'|trans|raw) }}
                            {# <div class="btn-group">
                                <button class="btn btn-happyDarkBlue btn-sm dropdown-toggle dropdown-del-user" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user-minus"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item" type="button" style="font-size: 0.8rem;">Supprimer la relation</button>
                                </div>
                            </div> #}
                        {% elseif result.id != user_id %}
                            {% if flag_requested %} {# if user has requested for a connection #}
                                {{ _self.btn_action(result.id, 'inline', 'CA', '#', 'generic.cancel'|trans|raw) }}
                            {% elseif flag_requester %} {# if user has been requested for a connection #}
                                {{ _self.btn_action(result.id, 'inline', 'AC', '#', 'generic.accept'|trans|raw) }}
                            {% else %}
                                {% for friend_or_blacklist  in friends_blackList %}
                                    {% if friend_or_blacklist.u_id == result.id and friend_or_blacklist.c_state == 'C' %} {# if already friend #}
                                        {{ _self.btn_action(result.id, 'inline', 'ME', '#', 'generic.message'|trans|raw) }}
                                        {% set flag_connected = true %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {# if no request and no relationship #}
                            {% if not flag_requested and not flag_requester and not flag_connected %}
                                {{ _self.btn_action(result.id, 'inline', 'CO', path('request_connect', {'id': result.id}), 'generic.connect'|trans|raw) }}
                            {% endif %}
                        {% endif %}
                        {# End of management of buttons #}
                    </div>
                    {% if not loop.last %}<hr>{% endif %}
                {% endfor %}
            </div>
            {% if list == 'S' %}
                {# for search list #}
                {% include 'partials/_searchPagination.html.twig' %} 
            {% else %}
                {% include 'partials/_listPagination.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endif %}


{% macro badge(id_user, badge_display, badge_message) %}
    <span class="badge badge-happyDarkBlue" id="B_{{ id_user }}" style="display:{{ badge_display }} ">{{ badge_message }}</span>
{% endmacro %}

{% macro btn_action(id_user, btn_display, btn_id, btn_url, btn_message) %}
    <div class="col-5 col-md-4 text-right my-auto" style="display: {{ btn_display }};">
        <a class="btn btn-outline-happyDarkBlue btn-sm btn-action" id="{{ btn_id }}_{{ id_user }}" href="{{ btn_url }}"
            data-token="{{ csrf_token('tok'~id_user) }}">{{ btn_message }}
        </a>
    </div>
{% endmacro %}

{% macro btn_group(btn_group_display) %}
    {# <div class="btn-group" style:"display:{{ btn_group_dispplay }}">
        <button class="btn btn-happyGrey btn-sm dropdown-toggle dropdown-del-user" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-minus"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button" style="font-size: 0.8rem;">Refuser la relation</button>
            <button class="dropdown-item" type="button" style="font-size: 0.8rem;">Blackliter {{ result.pseudo }}</button>
        </div>
    </div> #}
{% endmacro %}
