{% if paginator|length >0 %}
    <div class="d-flex justify-content-center pt-2">
        <div class="card">
            <div class="card-body">
                {% for result in paginator %}
                    <div class="row mb-3 mt-3">
                        <div class="col-7 col-md-8">
                            <div class="media position-relative">
                                <img src=
                                    {% if result.avatar is empty %}
                                        "{{ asset('img/library/defaultAvatar.png') }}"
                                    {% elseif result.avatar starts with 'https:' %}
                                        "{{ result.avatar }}"
                                    {% else %}
                                        "{{ asset('/uploads/avatars/' ~ result.avatar) }}"
                                    {% endif %}
                                class="avatar avatar-media mr-3 my-auto" alt="{{ 'alt.avatar'|trans|raw }} {{ result.pseudo }}">
                                <div class="media-body">
                                    <p class="col-text-pseudo mt-0">{{result.pseudo }}
                                        {% if result.id == user_id %}
                                            <span class="badge badge-happyDarkBlue">{{ 'generic.you'|trans|raw }}</span>
                                        {% else %}
                                            <span class="badge badge-happyDarkBlue" id="B_{{ result.id }}" style="display:none">Connexion demandée</span>
                                        {% endif %}
                                    </p>
                                    {% if result.firstName is not empty %}
                                        <p class="col-text-profile">{{ result.firstName }}  {{ result.lastName }}</p>
                                    {% endif %}
                                    {% if result.profession is not empty %}
                                        <p class="col-text-profile">{{ result.profession }}
                                            {% if result.company is not empty %} {{ 'generic.at'|trans|raw }} {{ result.company }} {% endif %}
                                        </p>
                                    {% endif %}
                                    <p class="col-text-profile">Grenoble, France</p>
                                    <a href="{{ path('show_profile', {'slug':result.slug}) }}" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        {% if route_name != "show_friends" %}
                            {% if result.id != user_id %}
                                <div class="col-5 col-md-4 text-right my-auto">
                                    <a class="btn btn-outline-happyDarkBlue btn-sm btn-connect" href="{{ path('request_connect', {'id': result.id}) }}"
                                        id="C_{{ result.id }}" data-token="{{ csrf_token('connect'~result.id) }}">
                                        {{ 'generic.connect'|trans|raw }}
                                    </a>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="col-5 col-md-4 text-right my-auto">
                                <a class="btn btn-outline-happyDarkBlue btn-sm btn-connect" href="#">{{ 'generic.message'|trans|raw }}</a>
                                <div class="btn-group">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-del-user" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-user-minus"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <button class="dropdown-item" type="button" style="font-size: 0.8rem;">Supprimer la relation</button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% if not loop.last %}<hr>{% endif %}
                {% endfor %}
            </div>
            {# Pagination #}
            {% if nb_page > 1 %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm justify-content-center">
                        <li class="page-item {% if page == 1 %}disabled{% endif %}">
                            <a class="page-link" href="{{ path(route_name, { page:page - 1 }) }}" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-double-left"></i></a>
                        </li>
                        <li class="page-item {% if page == 1 %}active{% endif %}"><a class="page-link" href="{{ path(route_name, { page:1 }) }}">1</a></li>
                      
                        {% set NUM_MAX_PAGE = 7 %}
                        {% if nb_page > 2 %}
                            {% if nb_page <= NUM_MAX_PAGE %}
                                {% for numPage in 2..nb_page - 1%}
                                    <li class="page-item {% if numPage == page %}active{% endif %}">
                                        <a class="page-link" href="{{ path(route_name, { page:numPage }) }}">{{ numPage }}</a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                {% if page <= NUM_MAX_PAGE - 2 %}
                                    {% set lim_page = NUM_MAX_PAGE - 2 %}
                                    {% for numPage in 2..lim_page %}
                                        <li class="page-item {% if numPage == page %}active{% endif %}">
                                            <a class="page-link" href="{{ path(route_name, { page:numPage }) }}">{{ numPage }}</a>
                                        </li>
                                    {% endfor %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ path(route_name, { page: lim_page +1 }) }}">...</a>
                                    </li>
                                {% elseif page >= nb_page - (NUM_MAX_PAGE - 3) %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ path(route_name, { page: nb_page - (NUM_MAX_PAGE - 2) }) }}">...</a>
                                    </li>
                                    {% for numPage in nb_page - (NUM_MAX_PAGE - 3) .. nb_page - 1 %}
                                        <li class="page-item {% if numPage == page %}active{% endif %}">
                                            <a class="page-link" href="{{ path(route_name, { page:numPage }) }}">{{ numPage }}</a>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    {% if nb_page > 2 %}
                                        <li class="page-item"><a class="page-link" href="{{ path(route_name, { page: page - 2 }) }}">...</a></li>
                                        <li class="page-item"><a class="page-link" href="{{ path(route_name, { page: page - 1 }) }}">{{ page - 1}}</a></li>
                                        <li class="page-item active"><a class="page-link" href="{{ path(route_name, { page: page }) }}">{{ page }}</a></li>
                                        <li class="page-item"><a class="page-link" href="{{ path(route_name, { page: page + 1 }) }}">{{ page + 1}}</a></li>
                                        <li class="page-item"><a class="page-link" href="{{ path(route_name, { page: page + 2 }) }}">...</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <li class="page-item {% if page == nb_page %}active{% endif %}">
                            <a class="page-link" href="{{ path(route_name, { page: nb_page }) }}">{{ nb_page }}</a>
                        </li>
                        <li class="page-item {% if page == nb_page %}disabled{% endif %}">
                            <a class="page-link" href="{{ path(route_name, { page:page + 1 }) }}"><i class="fas fa-angle-double-right"></i></a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endif %}