{% if paginator|length >0 %}
    <div class="d-flex justify-content-center pt-2">
        <div class="card">
            <div class="card-body">
                {% for result in paginator %}
                    {# Set variables #}
                    {% set flag_requester = false %}
                    {% set flag_requested = false %}
                    {% set flag_state = false %}
                    {% set badge_display = 'none' %}
                    {# ---- #}  
                    <div class="row mb-3 mt-3">
                        <div class="col-7 col-md-8">
                            <div class="media position-relative">
                                <img src=
                                    {% if result.avatar is empty %}
                                        "{{ asset('img/library/defaultAvatar.png') }}"
                                    {% elseif result.avatar starts with 'https:' %}
                                        "{{ result.avatar }}"
                                    {% else %}
                                        "{{ asset('/uploads/avatars/' ~ result.avatar) }}"
                                    {% endif %}
                                class="avatar avatar-media mr-3 my-auto" alt="{{ 'alt.avatar'|trans|raw }} {{ result.pseudo }}">
                                <div class="media-body">
                                    <p class="col-text-pseudo mt-0">{{result.pseudo }}
                                        {# Badge Management #}
                                        {% if result.id == user_id %}
                                            <span class="badge badge-happyDarkBlue">{{ 'generic.you'|trans|raw }}</span>
                                        {% else %}
                                            {# verify if user is a requester to be new friend #}
                                            {% if new_requester is defined %}
                                                {% for requester in new_requester %}
                                                    {% if requester.u_id == result.id %}
                                                        <span class="badge badge-happyDarkBlue" id="S_{{ result.id }}" style="display:inline">Vous a sollicité</span>
                                                        {% set flag_requester = true %}
                                                    {% endif %}
                                                {% endfor %}
                                                {# verify if user has been resquested to be new friend #}
                                                {% if not flag_requester and new_requested is defined %}
                                                    {% for requested in new_requested %}
                                                        {% if requested.u_id == result.id %}
                                                            {% set badge_display = 'inline' %}
                                                            {% set flag_requested = true %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <span class="badge badge-happyDarkBlue" id="BC_{{ result.id }}" style="display:{{ badge_display }} ">Connexion demandée</span>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        {# End Badge management #}
                                    </p>
                                    {% if result.firstName is not empty %}
                                        <p class="col-text-profile">{{ result.firstName }}  {{ result.lastName }}</p>
                                    {% endif %}
                                    {% if result.profession is not empty %}
                                        <p class="col-text-profile">{{ result.profession }}
                                            {% if result.company is not empty %} {{ 'generic.at'|trans|raw }} {{ result.company }} {% endif %}
                                        </p>
                                    {% endif %}
                                    <p class="col-text-profile">Grenoble, France</p>
                                    <a href="{{ path('show_profile', {'slug':result.slug}) }}" class="stretched-link"></a>

                                </div>
                            </div>
                        </div>
                        {# Management of button #}
                        {% if list == 'F' %} {# if list of friends #}
                            <div class="col-5 col-md-4 text-right my-auto">
                                <a class="btn btn-outline-happyDarkBlue btn-sm btn-connect" href="#">{{ 'generic.message'|trans|raw }}</a>
                                <div class="btn-group">
                                    <button class="btn btn-happyDarkBlue btn-sm dropdown-toggle dropdown-del-user" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-user-minus"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <button class="dropdown-item" type="button" style="font-size: 0.8rem;">Supprimer la relation</button>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {% if result.id != user_id %}
                                {% if flag_requested %}
                                    <div class="col-5 col-md-4 text-right my-auto">
                                        <a class="btn btn-outline-happyDarkBlue btn-sm btn-cancel" href="#"
                                            id="CA_{{ result.id }}" data-token="{{ csrf_token('cancel'~result.id) }}">
                                            {{ 'generic.cancel'|trans|raw }}
                                        </a>
                                    </div>
                                {% elseif flag_requester %}
                                    {{ _self.button_accept(result.id) }}
                                {% else %}
                                    {% for friend_or_blacklist  in friends_blackList %}
                                        {% if friend_or_blacklist.u_id == result.id %}
                                            {% if friend_or_blacklist.c_state == 'C' %} {# if friend #}
                                                {{ _self.button_accept(result.id) }}
                                                {% set flag_state = true %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if not flag_state %}
                                        <div class="col-5 col-md-4 text-right my-auto">
                                            <a class="btn btn-outline-happyDarkBlue btn-sm btn-connect" href="{{ path('request_connect', {'id': result.id}) }}"
                                                id="C_{{ result.id }}" data-token="{{ csrf_token('connect'~result.id) }}">
                                                {{ 'generic.connect'|trans|raw }}
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {# End of management of buttons #}
                    </div>
                    {% if not loop.last %}<hr>{% endif %}
                {% endfor %}
            </div>
            {% if list == 'S' %}
                {# for search list #}
                {% include 'partials/_searchPagination.html.twig' %} 
            {% else %}
                {% include 'partials/_listPagination.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endif %}

{% macro button_accept(id_user) %}
    <div class="col-5 col-md-4 text-right my-auto">
        <a class="btn btn-outline-happyDarkBlue btn-sm btn-accept" id="A_{{ id_user }} href="#">{{ 'generic.accept'|trans|raw }}</a>
        <div class="btn-group">
            <button class="btn btn-happyGrey btn-sm dropdown-toggle dropdown-del-user" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-minus"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button" style="font-size: 0.8rem;">Refuser la relation</button>
                <button class="dropdown-item" type="button" style="font-size: 0.8rem;">Blackliter {{ result.pseudo }}</button>
            </div>
        </div>
    </div>

{% endmacro %}