<nav id="navhome" class="navbar navbar-expand-lg navbar-light fixed-top">
    {% set pathUrl = 'homepage' %}
    {% if app.user %}
        {% set pathUrl = 'hbt_main' %}
    {% endif %}
    <a class="navbar-brand" href="{{ path(pathUrl) }}">
        <img src="{{ asset('img/library/hbtlogo.png') }}" width="32" height="32" class="d-inline-block align-top" alt="">
        <span class="nav-title">HappyBizTrip</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            {% if app.user %}
                <a class="nav-link" href="#"><i class="fas fa-envelope-open"></i>&nbsp;Messages</a>
                <a class="nav-link" href="#"><i class="fas fa-plane-departure"></i>&nbsp;Mes BizTrip</a>
            {% else %}
                <a class="nav-item nav-link active" href="#">{{ 'menu.home_home'|trans }} <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">{{ 'menu.home_concept'|trans }}</a>
                <a class="nav-item nav-link" href="#">{{ 'menu.home_price'|trans }}</a>
            {% endif %}
        </div>
        <ul class="navbar-nav ml-auto mr-2">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" id="locales">
                    <i class="fa fa-globe" id="lang"></i> {{ app.request.locale|capitalize }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="locales">
                    {% for locale in locales() %}
                        {% if app.request.locale != locale.code %}
                            <a class="dropdown-item" href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
        </ul>
        {% if app.user %}
        <ul class="navbar-nav mr-2">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                    <img src={% if app.user.avatar is empty %}"{{ asset('img/library/defaultAvatar.png') }}"{% else %} "{{ app.user.avatar }}" {% endif %}
                    class="avatar avatar-mini" alt="Avatar de {{ app.user.pseudo }}">
                    &nbsp;{{ app.user.pseudo }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                    <a href="#" class="dropdown-item">Créer un BizTrip</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('edit_profile', {'slug':app.user.slug}) }}" class="dropdown-item">Mon profil</a>
                    <a href="#" class="dropdown-item">Mon abonnement</a>
                    <a href="#" class="dropdown-item">Changer mon mot de passe</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('hbt_logout') }}" class="dropdown-item">Deconnexion</a>
                </div>
            </li>
        </ul>
        {% else %}
            <a href="{{ path('hbt_login') }}">
                <button class="btn btn-outline-happyDarkBlue btn-sm my-2 my-sm-0">{{ 'menu.home_sign_in'|trans }}</button>
            </a>
        {% endif %}
    </div>
</nav>