<nav id="navhome" class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand" href="#">
        <img src="{{ asset('img/library/hbtlogo.png') }}" width="32" height="32" class="d-inline-block align-top" alt="">
        HappyBizTrip
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">{{ 'menu.home_home'|trans }} <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">{{ 'menu.home_concept'|trans }}</a>
            <a class="nav-item nav-link" href="#">{{ 'menu.home_price'|trans }}</a>
            <a class="nav-item nav-link" href="#">{{ app.request.locale }}</a>
        </div>
        <ul class="navbar-nav ml-auto mr-4">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" id="locales">
                    <i class="fa fa-globe" id="lang"></i> {{ app.request.locale|capitalize }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="locales">
                    {% for locale in locales() %}
                        {% if app.request.locale != locale.code %}
                            <a class="dropdown-item" href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
        </ul>
        <a href="{{ path('hbt_login') }}">
            <button class="btn btn-outline-happyDarkBlue btn-sm my-2 my-sm-0">{{ 'menu.home_sign_in'|trans }}</button>
        </a>
    </div>
</nav>