{% extends 'base.html.twig' %}

{% block title %}{{ 'friend.block_title'|trans|raw }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}    
    {{ encore_entry_link_tags('css/search') }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row pt-4">
        <div class="col">
            <span class="text-result float-left">{{ 'friend.result'|trans({count: paginator|length })|raw }}</span>
        </div>
    </div>
    <hr>
    {# diplay the list of profiles - variable list = F = Friend #}
    {% include 'partials/_listProfile.html.twig'  with {'route_name' : 'show_friends', 'list' : 'F'} %}   
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'partials/js/listProfileJs.html.twig' %}
{% endblock %}
