{% extends 'base.html.twig' %}

{% block title %}{{ 'solicitation.block_title'|trans|raw }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}    
    {{ encore_entry_link_tags('css/search') }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row pt-4">
        <div class="col">
            <span class="text-result float-left">{{ 'solicitation.result'|trans({count: tot_profile })|raw }}</span>
        </div>
    </div>
    <hr>
    {# diplay the list of profiles - variable list = F = Friend #}
    {% include 'partials/_listProfile.html.twig'  with {'route_name' : 'show_solicitations', 'list' : 'R'} %}   
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/notificationToastr') }}
    {{ encore_entry_script_tags('js/listProfile') }}
{% endblock %}
