{% extends 'base.html.twig' %}

{% block title %}{{ 'visit.block_title'|trans|raw }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}    
    {{ encore_entry_link_tags('css/search') }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row pt-4">
        <div class="col">
            <span class="text-result float-left">{{ 'search.result'|trans({count: paginator|length })|raw }}</span>
        </div>
        <div class="col">
            <span class="text-advanced-search float-right" id="btnAdvancedSearch">{{ 'search.advanced'|trans|raw }} <i id="iconAdvancedSearch" class="fas fa-caret-down"></i></span>
        </div>
    </div>
    <hr>
    {# diplay the list of profiles #}
    {% include 'partials/_listProfile.html.twig' %}   
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        // position of footer for screen >=768 px
        $(function () {
            if ($(window).width() >= 768) {
                var bht = $('body').height()
                var wht = $(window).height()
                if (bht < wht) {
                    $('footer').css("position", "absolute")
                }
            }
        })
    </script>
{% endblock %}
