<div class="modal fade" id="deleteProfileModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabel">{{ 'modal.title.account_delete'|trans }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p><strong>{{ 'modal.account.message_delete1'|trans }}</strong> {{ 'modal.account.message_delete2'|trans }}</p>
                <p><strong>{{ user.pseudo }}</strong>, {{ 'modal.account.message_delete3'|trans }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-profile-update btn-sm" data-dismiss="modal">
                    <i class="far fa-window-close"></i>  {{ 'btn.cancel'|trans }}
                </button>
                <form action="{{ url('delete_profile', {id: user.id}) }}" method="post" id="delete-form">
                    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                    <button type="submit" class="btn btn-confirm-profile-delete btn-sm">
                        <i class="far fa-trash-alt"></i>  {{ 'profile.btn_delete'|trans }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>