{# 
  Macro for form rendering
  Custom the error message
  input : field name, form field name (form."field")
  Author : Frederic Parmentier
  Created At : 04/05/2020 
#}

{% macro formFieldRender(field, formName) %}
  {% set labelName = 'form.label_'~field %}
  <div class="form-group">
    <label for="home_register_{{ field }}" class="label-profile">{{ labelName|trans|raw }}</label>
    {{ form_widget(formName) }}
    {% if formName.vars.valid %}
        {{ form_help(formName) }}
    {% else %}
        {% for error in formName.vars.errors %}
            <div class="invalid-feedback">
                {{ error.message }}
            </div>
        {% endfor %}
    {% endif %}
  </div>
{% endmacro %}

{% macro formDateRender(field, formName) %}
  {% set labelName = 'form.label_'~field %}
  <div class="form-group">
    <label for="home_register_{{ field }}"  class='label-profile'>{{ labelName|trans|raw }}</label>
    <div class="input-group" id="date-container">
      <div class="input-group-prepend">
          <span class="input-group-text">
              <i class="far fa-calendar-alt"></i>
          </span>
      </div>
      {{ form_widget(formName)}}
      {% if formName.vars.valid %}
        {{ form_help(formName) }}
      {% else %}
        {% for error in formName.vars.errors %}
          <div class="invalid-feedback">
              {{ error.message }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endmacro %}

