{% extends 'base.html.twig' %}

{% block title %}{{ 'search.block_title'|trans|raw }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}    
    {{ encore_entry_link_tags('css/search') }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row pt-4">
        <div class="col">
            <span class="text-result float-left">{{ 'search.result'|trans({count: paginator|length })|raw }}</span>
        </div>
        <div class="col">
            <span class="text-advanced-search float-right" id="btnAdvancedSearch">{{ 'search.advanced'|trans|raw }} <i id="iconAdvancedSearch" class="fas fa-caret-down"></i></span>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center pt-1">
        <div class="card" id="advancedSearch" style="display:none;">
            <div class="card-body">
                Formulaire de recherche avancée
            </div>
        </div>
    </div>
    {# diplay the list of profiles #}
    {% include 'partials/_listSearchProfile.html.twig' with {'route_name' : 'search'} %}   
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        // position of footer for screen >=768 px
        $(function () {
            if ($(window).width() >= 768) {
                var bht = $('body').height()
                var wht = $(window).height()
                if (bht < wht) {
                    $('footer').css("position", "absolute")
                }
            }
        })
    
        // advanced search form visible or not
        document.getElementById("btnAdvancedSearch").addEventListener("click", function(){
            document.getElementById("advancedSearch").style.display
            if ( document.getElementById("advancedSearch").style.display === "none") {
                $("#advancedSearch").show("slow")
                document.getElementById("iconAdvancedSearch").className = "fas fa-caret-up"
                document.getElementById("advancedSearch").style.display = "inline"
            }
            else {
                $("#advancedSearch").hide("slow")
                document.getElementById("iconAdvancedSearch").className = "fas fa-caret-down"
                document.getElementById("advancedSearch").style.display = "none"
            }
        })
    </script>
{% endblock %}
