{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ resultSearch|length }} résultats trouvés pour {{ stringToSearch }}</h1>
    <hr>
    {% for result in resultSearch %}
        <h4>{{result.pseudo }}  {{ result.firstName }}  {{ result.lastName }}</h4>
        <hr>
    {% endfor %}
</div>

{% endblock %}
