{% extends 'base.html.twig' %}

{% block title %}{{ 'search.block_title'|trans|raw }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}    
    {{ encore_entry_link_tags('css/search') }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row pt-4">
        <div class="col">
            <span class="text-result float-left">{{ 'search.result'|trans({count: paginator|length })|raw }}</span>
        </div>
        <div class="col">
            <span class="text-advanced-search float-right" id="btnAdvancedSearch">{{ 'search.advanced'|trans|raw }} <i id="iconAdvancedSearch" class="fas fa-caret-down"></i></span>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center pt-1">
        <div class="card" id="advancedSearch" style="display:none;">
            <div class="card-body">
                Formulaire de recherche avancée
            </div>
        </div>
    </div>
    {# diplay the list of profiles - variable list = S = Search #}
    {% include 'partials/_listProfile.html.twig' with {'route_name' : 'search', 'list' : 'S'} %}   
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/listProfile') }}
    {% include 'partials/js/_listProfileJs.html.twig' %}
{% endblock %}
