{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}    
    {{ encore_entry_link_tags('css/search') }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row pt-4">
        <div class="col">
            <span class="text-result float-left">{{ paginator|length }} résultats trouvés  {{ nb_page }} pages</span>
        </div>
        <div class="col">
            <span class="text-advanced-search float-right" id="btnAdvancedSearch">Recherche Avancée <i id="iconAdvancedSearch" class="fas fa-caret-down"></i></span>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center pt-1">
        <div class="card" id="advancedSearch" style="display:none;">
            <div class="card-body">
                Formulaire de recherche avancée
            </div>
        </div>
    </div>
    {% if paginator|length >0 %}
        <div class="d-flex justify-content-center pt-2">
            <div class="card">
                <div class="card-body">
                    {% for result in paginator %}
                        <div class="row mb-3 mt-3">
                            <div class="col-7 col-md-8">
                                <div class="media position-relative">
                                    <img src=
                                            {% if result.avatar is empty %}
                                            "{{ asset('img/library/defaultAvatar.png') }}"
                                            {% elseif result.avatar starts with 'https:' %}
                                            "{{ result.avatar }}"
                                            {% else %}
                                            "{{ asset('/uploads/avatars/' ~ result.avatar) }}"
                                            {% endif %}
                                    class="avatar avatar-media mr-3 my-auto" alt="{{ 'alt.avatar'|trans|raw }} {{ result.pseudo }}">
                                    <div class="media-body">
                                        <p class="col-text-pseudo mt-0">{{result.pseudo }}</p>
                                        {% if result.firstName is not empty %}
                                            <p class="col-text-profile">{{ result.firstName }}  {{ result.lastName }}</p>
                                        {% endif %}
                                        {% if result.profession is not empty %}
                                            <p class="col-text-profile">{{ result.profession }}
                                            {% if result.company is not empty %} chez {{ result.company }} {% endif %}
                                            </p>
                                        {% endif %}
                                        <p class="col-text-profile">Grenoble, France</p>
                                        <a href="{{ path('show_profile', {'slug':result.slug}) }}" class="stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-4 text-right my-auto">
                                <button type="button" class="btn btn-outline-happyDarkBlue btn-sm">Se connecter</button>
                            </div>
                        </div>
                        {% if not loop.last %}<hr>{% endif %}
                    {% endfor %}
                </div>
                {% if nb_page > 1 %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-sm justify-content-center">
                            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                                <a class="page-link" href="{{ path('search', { page:page - 1, stringToSearch:string_to_search }) }}" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-double-left"></i></a>
                            </li>
                            <li class="page-item {% if page == 1 %}active{% endif %}"><a class="page-link" href="{{ path('search', { page:1, stringToSearch:string_to_search }) }}">1</a></li>
                            
                            {% set NUM_MAX_PAGE = 7 %}
                            {% if nb_page > 2 %}
                                {% if nb_page <= NUM_MAX_PAGE %}
                                    {% for numPage in 2..nb_page - 1%}
                                        <li class="page-item {% if numPage == page %}active{% endif %}"><a class="page-link" href="{{ path('search', { page:numPage, stringToSearch:string_to_search }) }}">{{ numPage }}</a></li>
                                    {% endfor %}
                                {% else %}
                                    {% if page <= NUM_MAX_PAGE - 2 %}
                                        {% set lim_page = NUM_MAX_PAGE - 2 %}
                                        {% for numPage in 2..lim_page %}
                                            <li class="page-item {% if numPage == page %}active{% endif %}"><a class="page-link" href="{{ path('search', { page:numPage, stringToSearch:string_to_search }) }}">{{ numPage }}</a></li>
                                        {% endfor %}
                                            <li class="page-item"><a class="page-link" href="{{ path('search', { page: lim_page +1, stringToSearch:string_to_search }) }}">...</a></li>
                                    {% elseif page >= nb_page - (NUM_MAX_PAGE - 3) %}
                                        <li class="page-item"><a class="page-link" href="{{ path('search', { page: nb_page - (NUM_MAX_PAGE - 2), stringToSearch:string_to_search }) }}">...</a></li>
                                        {% for numPage in nb_page - (NUM_MAX_PAGE - 3) .. nb_page - 1 %}
                                            <li class="page-item {% if numPage == page %}active{% endif %}"><a class="page-link" href="{{ path('search', { page:numPage, stringToSearch:string_to_search }) }}">{{ numPage }}</a></li>
                                        {% endfor %}
                                    {% else %}
                                        {% if nb_page > 2 %}
                                            <li class="page-item"><a class="page-link" href="{{ path('search', { page: page - 2, stringToSearch:string_to_search }) }}">...</a></li>
                                            <li class="page-item"><a class="page-link" href="{{ path('search', { page: page - 1, stringToSearch:string_to_search }) }}">{{ page - 1}}</a></li>
                                            <li class="page-item active"><a class="page-link" href="{{ path('search', { page: page, stringToSearch:string_to_search }) }}">{{ page }}</a></li>
                                            <li class="page-item"><a class="page-link" href="{{ path('search', { page: page + 1, stringToSearch:string_to_search }) }}">{{ page + 1}}</a></li>
                                            <li class="page-item"><a class="page-link" href="{{ path('search', { page: page + 2, stringToSearch:string_to_search }) }}">...</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <li class="page-item {% if page == nb_page %}active{% endif %}"><a class="page-link" href="{{ path('search', { page: nb_page, stringToSearch:string_to_search }) }}">{{ nb_page }}</a></li>
                            <li class="page-item {% if page == nb_page %}disabled{% endif %}">
                                <a class="page-link" href="{{ path('search', { page:page + 1, stringToSearch:string_to_search }) }}"><i class="fas fa-angle-double-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        // position of footer for screen >=768 px
        $(function () {
            if ($(window).width() >= 768) {
                var bht = $('body').height()
                var wht = $(window).height()
                if (bht < wht) {
                    $('footer').css("position", "absolute")
                }
            }
        })
    
        // advanced search form visible or not
        document.getElementById("btnAdvancedSearch").addEventListener("click", function(){
            document.getElementById("advancedSearch").style.display
            if ( document.getElementById("advancedSearch").style.display === "none") {
                $("#advancedSearch").show("slow")
                document.getElementById("iconAdvancedSearch").className = "fas fa-caret-up"
                document.getElementById("advancedSearch").style.display = "inline"
            }
            else {
                $("#advancedSearch").hide("slow")
                document.getElementById("iconAdvancedSearch").className = "fas fa-caret-down"
                document.getElementById("advancedSearch").style.display = "none"
            }
        })
    </script>
{% endblock %}
