<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HappyBizTrip {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/global') }}
            <link rel="stylesheet" href="/icon/fontawesome/css/all.min.css">
        {% endblock %}
    </head>
    <body>

        {# loader #}
        <div class="d-flex justify-content-center align-items-center" id="loader">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        {# include header #}
        {% include 'partials/header.html.twig' %}
     
        {% block body %}{% endblock %}
         
        {# include footer #}
        {% include 'partials/footer.html.twig' with {'positionFooter' : 'relative'} %}

        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
            <script>
                 // Loader
                window.addEventListener("load", function(event) {
                    document.body.removeChild(document.getElementById("loader"))
                })
            
                // formSearch - Cancel search if formSearch is empty
                if (document.getElementById("btnFormSearch")) {
                    document.getElementById("btnFormSearch").addEventListener("click", function(e) {
                        inputSearch = document.getElementById("formSearch").value
                        if (inputSearch.trim().length === 0) {
                            e.preventDefault();
                        }
                    })
                }
            </script>

            {# flash message management with toastr #}
            {% if (app.session.flashbag.peek('success')|length >0) or (app.session.flashbag.peek('error')|length >0) %}
                <script>
                    toastr.options = {
                        'closeButton': true,
                        'debug': false,
                        'newestOnTop': false,
                        'progressBar': true,
                        'positionClass': "toast-bottom-left",
                        'preventDuplicates': false,
                        'onclick': null,
                        'showDuration': '300',
                        'hideDuration': '1000',
                        'timeOut': '5000',
                        'extendedTimeOut': '1000',
                        'showEasing': 'swing',
                        'hideEasing': 'linear',
                        'showMethod': 'fadeIn',
                        'hideMethod': 'slideUp',
                        'escapeHtml': true
                    }
                </script>
                {% for label, messages in app.flashes(['success', 'error']) %}
                    {% for message in messages %}    
                        <script>toastr["{{ label }}"]("{{ message|trans|raw }}")</script>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endblock %}
    </body>
</html>

